mat-sidenav-container, mat-sidenav-content, mad-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  background-color: #f8f9f9;
}

.principal {
  height: 100%;
  padding: 15px 0 0 25px;
  color: white;
  background-image: url("../assets/background/cloud_two.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-sidenav-content {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.app-sidenav-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
