<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" #sidenav role="navigation">
    <app-side-menu (sidenavClose)="sidenav.close()"></app-side-menu>
  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content">
    <app-top-menu (sidenavToggle)="sidenav.toggle()"></app-top-menu>
    <main class="principal">
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
