.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-tm-mat-toolbar {
  background: transparent;
}

/*TOGGLE BUTTON*/
.mat-icon-button {
  margin-right: 5px;
  color: #1e2129;
}

.mat-icon-button:hover {
  opacity: 0.5;
}

/**/

/*HOME BUTTON*/
.mat-mini-fab {
  background-color: #6d727e;
}

.mat-mini-fab:hover {
  opacity: 0.8;
}

/**/

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0;
  }
}
