<mat-accordion class="app-nav-accordion">
  <mat-list role="list">
    <mat-card-header class="list-header">
      <img class="nav-sm-logo" src=".,/../../assets/company/rj_logo.png">
      <p class="txt-logo">VIRGO</p>
    </mat-card-header>
    <div>
      <mat-card>
        <mat-card-header class="nav-sm-card-header">
          <mat-card-title class="nav-sm-card-title">{{user.name}}</mat-card-title>
          <mat-card-subtitle class="nav-sm-card-subtitle">{{user.position}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img class="nav-sm-mat-card-img" [src]="user.photo">
        </mat-card-content>
      </mat-card>
    </div>

    <mat-expansion-panel *ngFor="let card of user.cards ">
      <mat-expansion-panel-header>
        <mat-panel-title>{{card.title}}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list-item *ngFor="let c of card.children">
        <mat-icon mat-list-icon fontSet="fab" fontIcon=" fa-accessible-icon"></mat-icon>
        <div mat-line>{{c.matLine}}</div>
      </mat-list-item>
    </mat-expansion-panel>

  </mat-list>
</mat-accordion>
