/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  opacity: 0.9;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden !important;
}

.mat-form-field {
  font-size: 17px;
}

.main-container {
  margin: 30px;
}

.mat-step-icon-selected{
  background-color: #6d727e !important;
  color: white !important;
}

.mat-step-header:hover{
  background-color: #fafafa;
}


.mat-option:hover {
  color: white;
  background-color: #039be5 !important;
}
