<p class="wlc-nli-grid-title">Informativos</p>
<div align="center">

  <mat-tab-group headerPosition="below" class="wlc-nli-tab-group">

    <mat-tab label="Recente" class="wlc-nli-tab-label">
      <mat-card class="wlc-nli-card">
        <div align="center">
          <img class="wlc-nli-image" src="../../../assets/company/rj_logo.png">
          <p class="wlc-nli-text_title">Aviso de manutenção do sistema</p>
        </div>
        <mat-card-content class="wlc-nli-card-content">
          <p class="wlc-nli-text_paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et lacus maximus, posuere ex eu, venenatis tortor. Phasellus
            interdum egestas ante a tincidunt. Quisque iaculis quam eget velit posuere venenatis. Donec a orci et elit sagittis euismod.
            Nulla id vestibulum justo. Maecenas non venenatis felis. Ut eget lorem elementum libero consectetur pulvinar. Sed consectetur
            sem quis purus molestie semper. Pellentesque mattis est erat, id accumsan est congue ac. Nam elementum velit lorem, condimentum
            gravida dolor blandit quis. Donec at porta sem.

            Mauris at pellentesque lorem. In rhoncus ante nec rutrum egestas. Nunc condimentum sapien non eros auctor gravida non a felis.
            Aliquam pretium finibus cursus. Duis at tortor in nisl convallis interdum ut in nunc. Mauris in pellentesque odio. Phasellus sit
            amet metus et nisl vehicula maximus a at risus.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Antigo" class="wlc-nli-tab-label">
      <mat-card class="wlc-nli-card">
        <div align="center">
          <img class="wlc-nli-image" src="../../../assets/company/rj_logo.png">
          <p class="wlc-nli-text_title">Aviso de manutenção do sistema</p>
        </div>
        <mat-card-content class="wlc-nli-card-content">
          <p class="wlc-nli-text_paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et lacus maximus, posuere ex eu, venenatis tortor. Phasellus
            interdum egestas ante a tincidunt. Quisque iaculis quam eget velit posuere venenatis. Donec a orci et elit sagittis euismod.
            Nulla id vestibulum justo. Maecenas non venenatis felis. Ut eget lorem elementum libero consectetur pulvinar. Sed consectetur
            sem quis purus molestie semper. Pellentesque mattis est erat, id accumsan est congue ac. Nam elementum velit lorem, condimentum
            gravida dolor blandit quis. Donec at porta sem.

            Mauris at pellentesque lorem. In rhoncus ante nec rutrum egestas. Nunc condimentum sapien non eros auctor gravida non a felis.
            Aliquam pretium finibus cursus. Duis at tortor in nisl convallis interdum ut in nunc. Mauris in pellentesque odio. Phasellus sit
            amet metus et nisl vehicula maximus a at risus.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-tab>

  </mat-tab-group>

</div>
