.sec-log-img-logo {
  margin-top: 30px;
  width: 60px;
}

.sec-log-title {
  margin: 10% 0 10% 0;
  font-family: Muli Helvetica Neue Arial sans-serif;
  line-height: 1.4 !important;
  letter-spacing: -.1px !important;
}

.sec-log-dialog-content {
  margin-bottom: 10px;
}

.mat-dialog-title {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.mat-form-field {
  padding-left: 5%;
  width: 90%;
}

.sec-log-btn {
  color: white;
  width: 200px !important;
  min-width: unset !important;
  background-color: #039be5;
}

.sec-log-btn:hover,
.sec-log-btn:active {
  color: white;
  opacity: 0.8;
  width: 200px !important;
  min-width: unset !important;
}

.sec-log-btn:disabled,
.sec-log-btn[disabled] {
  width: 200px !important;
  min-width: unset !important;
  background-color: #c8dde7;
  color: white;
}

.mat-icon {
  color: #e0e0e0;
}

.sec-log-forgot-password {
  padding-top: 15px;
  color: black;
  text-decoration: none;
}

.sec-log-forgot-password:hover,
.sec-log-forgot-password:active {
  color: red;
}

::ng-deep .blue-snackbar {
  margin: 80px 20px !important;
  color: white;
  background-color: #ef5350;
}
